
section > h2 {
    font-weight: bold;
    font-size: var(--step-4);
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #1B1B1B;
    padding: 6px 0;


}

@media (max-width: 700px) {
    section > h2 {
        font-size: var(--step-3);
        padding: 12px 0;

    }
}


section > p {
    font-size: var(--step-1);
    margin: 0 0 30px 0;
    color: white;
    text-align: justify;
}

section > img{
    width: 100%;
    height: max-content;
    outline: none;
    padding-top: 0.5rem;
    padding-bottom: 2rem;

    border: none !important;
    overflow: hidden;
}

article {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    /*margin-left: 0;*/
    position: relative;
}

article > section {
    position: relative;
    margin-bottom: 50px;

}


video {
    width: 100%;
    height: max-content;
    outline: none;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;

    border: none !important;
    overflow: hidden;
}

.big-number{
    font-size: var(--step-9);
    font-weight: bolder;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}