/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,22,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    /* Step -2: 11.11px → 14.08px */
    --step--2: clamp(0.69rem, calc(0.63rem + 0.32vw), 0.88rem);

    /* Step -1: 13.33px → 17.60px */
    --step--1: clamp(0.83rem, calc(0.74rem + 0.46vw), 1.10rem);

    /* Step 0: 16.00px → 22.00px */
    --step-0: clamp(1.00rem, calc(0.87rem + 0.65vw), 1.38rem);

    /* Step 1: 19.20px → 27.50px */
    --step-1: clamp(1.20rem, calc(1.02rem + 0.90vw), 1.72rem);

    /* Step 2: 23.04px → 34.38px */
    --step-2: clamp(1.44rem, calc(1.19rem + 1.23vw), 2.15rem);

    /* Step 3: 27.65px → 42.97px */
    --step-3: clamp(1.73rem, calc(1.40rem + 1.67vw), 2.69rem);

    /* Step 4: 33.18px → 53.71px */
    --step-4: clamp(2.07rem, calc(1.63rem + 2.23vw), 3.36rem);

    /* Step 5: 39.81px → 67.14px */
    --step-5: clamp(2.49rem, calc(1.89rem + 2.97vw), 4.20rem);

    /* Step 6: 47.78px → 83.92px */
    --step-6: clamp(2.99rem, calc(2.20rem + 3.93vw), 5.25rem);

    /* Step 7: 57.33px → 104.90px */
    --step-7: clamp(3.58rem, calc(2.55rem + 5.17vw), 6.56rem);

    /* Step 8: 68.80px → 131.13px */
    --step-8: clamp(4.30rem, calc(2.95rem + 6.78vw), 8.20rem);

    /* Step 9: 82.56px → 163.91px */
    --step-9: clamp(5.16rem, calc(3.39rem + 8.84vw), 10.24rem);

    --step-10: clamp(8.16rem, calc(3.39rem + 8.84vw), 15.24rem);

}


* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;


}

html{
    background-color: black;

}



h2 {
    font-weight: 600;
    font-size: var(--step-3);
    color: white;
    padding-bottom: 1rem;
}

.pme {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    width: min(65ch, 90vw);
    padding: 0.5rem;
}

.pYou {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    text-align: justify;
    width: min(70ch, 90%);

    padding: 0.5rem;
}

.pYou > li{
    padding-bottom: 1rem;
}

.nav {
    color: white;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    background-color: #27282c;
    overflow-x: hidden;

}

.menu {
    width: min(470px, 90vw);
    overflow-x: hidden;


}

.logo {
    height: auto;
    width: auto;
    max-height: 48px;
    max-width: 48px;
}


.cipher-container {
    background-color: #19191C;


}
.overflowHider{
    overflow: hidden;
    position: relative;
}

.small-container {
    width: min(90vw, 100rem);
    margin-inline: auto;
    padding: 5%;

}

.cipher-title-container {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(275.24deg, #F5B646 5.63%, #E1742B 21.23%, #AE3420 36.36%, #71234F 62.96%, #19191C 86.8%);
}


.g-vigenere {
    width: min(90vw, 100rem);
    margin: auto;
    overflow-x: hidden;
    color: #FFFFFF;
    padding: 6%;
}


.cipher-title {
    font-weight: 600;
    font-size: var(--step-5);
    padding-bottom: 2%;
    color: white;
}


.cipher-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: var(--step-2);
    width: min(30ch, 90vw);
}

.french {
    height: 1400px;
    position: absolute;
    z-index: 1;
    left: 70%;
    top: 2.5%;

}

.tableV {
    width: 545px;
    height: 545px;
    padding-top: 4rem;
}

.tableX {
    width: 600px;
    height: 400px;
}
.tableX5 {
    width: 800px;
    height: 250px;
}
.tableX2 {
    height: 300px;
    width: 600px
}

.vigenereHimself {
    width: 500px;
    height: 500px;
    padding: 3rem;

}
.vigenereHimself2 {
    width: 450px;
    padding: 3rem;

}


.v-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.h-grid-i {
    width: 300px;
    font-size: var(--step--1);

}

.h-logo {
    width: var(--step-3);
    height: var(--step-3);
    padding-bottom: 5px;

}

.card-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: var(--step--1);

}

.card-sub {
    font-size: var(--step--2);
    text-align: justify;

}

@media (max-width: 1350px) {
    .v-grid {
        grid-template-columns: 1fr 1fr;

    }

    .h-grid {
        grid-template-columns: 1fr 1fr;

    }

}

@media (max-width: 900px) {
    .v-grid {
        grid-template-columns: 1fr;

    }

    .h-grid {
        grid-template-columns: 1fr;

    }
    .vigenereHimself {
        width: 90%

    }
    .vigenereHimself2 {
        width: 90%

    }

}

.grid-i {
    width: clamp(280px, 40vw, 400px);
    height: clamp(230px, 35vw, 300px);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #19191C;
    border-radius: 0.5rem;
    border: 2px solid #c5c5c5;

}


.footer {
    background: black;
}

.footer-container {
    padding: 5%;
    height: 62%;
    width: 90%;
    display: flex;


}

.footer-container2 {
    padding: 5%;
    height: 62%;
    display: flex;
    width: min(90vw, 100rem);
    margin-inline: auto;


}

.footer-input {
    padding: 1%;
    width: 100%;
}


.footer-v {
    width: 50%;
    padding: 0 0 3% 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;

}

.b-light {
    font-weight: 300;
    font-size: var(--step-2);
    color: #FFFFFF;

}

.b-light2 {
    font-weight: 600;
    font-size: var(--step-0);
    color: #FFFFFF;

}



.p-input {
    color: white;
    font-weight: 400;
    font-size: var(--step-0);
    align-self: flex-start;
    padding: 1rem;
}



.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.key-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: min(80vw, 40rem);
}




.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10%
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: var(--step-0);
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: var(--step-0);
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-7btt {
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}


.card-item {
    padding-bottom: 10rem;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    padding-right: 1rem;
}

.card-container {
    scroll-snap-type: y mandatory;
}

.img-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.progress {
    position: sticky;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    bottom: 0;
}

.card {
    width: max(50vw, 300px);
    font-size: var(--step--1);

}

.facts {
    background-color: black;
}


.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--step-3);
    color: white;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.parallax span {
    display: block;
    margin-right: 30px;
}

.canvas {
    height: 50vh;
    position: relative;;
}

.home-page {
    position: relative;
    background-color: black;

}

.home-title {
    font-size: var(--step-7);
    color: white;
    position: absolute;
    font-weight: bold;
    bottom: 50%;
    left: 5%;

}

.vigenere-logo {
    width: var(--step-6);
    padding-bottom: 1rem;

}

.cipher-title-container-XOR {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(275.91deg, #DCF161 -5.08%, #C0EB75 13.74%, #36CDD3 31.29%, #0987D6 57.17%, #1F52AB 68.59%, #19191C 87.67%);}

.cipher-title-container-caesar {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(273.68deg, #3BDA96 8.85%, #7866FF 35.97%, #19191C 84.99%);
}


.cipher-title-container-aes {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(274.62deg, #62C0C8 2.89%, #5CB2BF 10.94%, #5093AE 23.47%, #43719B 34.21%, #374985 44.05%, #322C76 55.68%, #2E1066 67.31%, #1B1B1E 88.79%);}

.boole {
    height: 1600px;
    position: absolute;
    z-index: 1;
    left: 65%;
    top: 1%;
    pointer-events: none;

}
.caesarst {
    height: 1500px;
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 2%;
    pointer-events: none;

}
.freedooooom {
    height: 1450px;
    position: absolute;
    z-index: 1;
    left: 68%;
    top: 0.85%;
    pointer-events: none;

}
.greek {
    height: 1400px;
    position: absolute;
    z-index: 1;
    left: 73%;
    top: 3%;
    pointer-events: none;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child {
    background-color: #dddddd;
}

.xorVis {
    width: max(60vw, 300px);
    height: auto;
    padding: 1rem;
}

.cipher-title-container-bit {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(275.4deg, #83F2FA 9.6%, #7AB6F5 24.28%, #828CF5 34.21%, #9164F5 51.05%, #1A1A1D 84.3%);}



.cipher-title-container-rail {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(274.62deg, #FFBABA 5.12%, #FF7E8C 16.76%, #F14177 29.28%, #D03670 41.36%, #96276A 51.66%, #5B1465 63.29%, #421063 72.68%, #1B1B1E 88.79%);
}


.challenge-container {
    background-color: black;
    overflow-inline: hidden;
}

.tabs-container {
    padding-top: 3rem;
    width: min(85vw, 55.5rem)

}

.hints-container {
    width: min(100%, 50rem);
    padding: 2rem 0 2rem 0;

}

.paragraph-text {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    width: min(54ch, 90%);
    padding: 0.5rem;
    text-align: justify;
}

.cube-canvas {
    height: 70rem;
    width: 60rem;
    left: 50%;
    top: 46%;
    position: absolute;
    overflow-x: hidden;
}

.char {
    font-weight: 600;
    font-size: var(--step-6);
    height: var(--step-7);
    color: white;


}

.animated-text-q {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quantum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.applications-container {

    background-color: black;
    color: white;
}

.applications-grid {

}

.app-grid-i {
    margin: 4% 4% 8%;
}

.app-img {
    width: 30%;
    height: 30%;
    padding-left: 4%;
}

.app-card-title {
    font-size: var(--step-2);
    font-weight: bold;
}

.app-card-sub {
    font-size: var(--step-0);
    padding-top: 0.7em;
}

.image-container {
    width: 40%;
    padding: 3%;
}

.encrypted-image {
    width: 100%;
}

.image-name {
    padding: 0.5em;
    font-size: var(--step-2);
}

.ch-logo {
    width: var(--step-5);
    height: var(--step-5);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-1 {
    width: var(--step-4);
    height: var(--step-4);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-2 {
    width: var(--step-5);
    height: var(--step-4);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-3 {
    width: var(--step-5);
    height: var(--step-1);
    padding-top: 1.5em;
    padding-bottom: 1em;
    object-fit: cover;
}

.ch-title {
    font-size: var(--step-2);
    font-weight: bold;
}

.ch-sub {
    font-size: var(--step-0);

}

.ch-i {
    width: 500px;
    height: 240px;
}

.ch-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    justify-items: center;
}

.message-sim{
    height: 34em;
    padding: 3%;
}
.image-flex-enc{
    display: flex;
    align-items: center;
}
@media (min-width: 1001px){
    .hash-res {
    display: flex
}}
@media (max-width: 1000px) {

    .message-sim{
        height: 115em;
        padding: 3%;
    }
    .image-flex-enc{
        flex-direction: column;
    }
    .image-container {
        width: 90%;
        padding: 3%;
    }
}


.message-name{
    padding-left: 25%;
    font-size: var(--step-1);
    margin: 2% 2% 2rem;

}


.hash-logic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;


}
:root {
    /* Step -2: 11.11px → 14.08px */
    --card-width-app: min(100%, 47rem)

}











/*hello media down there*/




@media (max-width: 1500px) {
    .french {
        display: none;


    }
    .ch-i {
        width: 400px;
        height: 250px;
    }
    .ch-grid {
        grid-template-columns: 1fr;

    }

    .boole {
        display: none;

    }
    .caesarst{
        display: none;
    }
    .gonePhoto{
        display: none;
    }

    .tableV {
        width: 70vw;
        height: auto;
        padding: 3rem;
    }

    .tableX {
        width: 100%;
        height: auto;
        padding: 3rem;
    }
    .tableX2 {
        width: 100%;
        height: auto;
        padding: 3rem;
    }

    .app-img {
        display: none;
    }


    .vigenereHimself {
        width: 50vw;
        height: auto;

    }


    .small-container {
        flex-direction: column;
        align-items: center;
    }

    .cube-canvas {
        display: none;
    }
    .ch-logo-3 {
        width: var(--step-5);
        height: var(--step-1);
        padding-top: 0.5em;
        padding-bottom: 1em;
        object-fit: cover;
    }


}
@media (max-width: 700px) {
    .footer-container2 {
        flex-direction: column;
    }

    .footer-v {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;;

    }
    .ch-i {
        width: 300px;
        height: 200px;
    }
    .small-container{
        padding-top: 3em;
        padding-bottom: 3em;

    }



}









