/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,22,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    /* Step -2: 11.11px → 14.08px */
    --step--2: clamp(0.69rem, calc(0.63rem + 0.32vw), 0.88rem);

    /* Step -1: 13.33px → 17.60px */
    --step--1: clamp(0.83rem, calc(0.74rem + 0.46vw), 1.10rem);

    /* Step 0: 16.00px → 22.00px */
    --step-0: clamp(1.00rem, calc(0.87rem + 0.65vw), 1.38rem);

    /* Step 1: 19.20px → 27.50px */
    --step-1: clamp(1.20rem, calc(1.02rem + 0.90vw), 1.72rem);

    /* Step 2: 23.04px → 34.38px */
    --step-2: clamp(1.44rem, calc(1.19rem + 1.23vw), 2.15rem);

    /* Step 3: 27.65px → 42.97px */
    --step-3: clamp(1.73rem, calc(1.40rem + 1.67vw), 2.69rem);

    /* Step 4: 33.18px → 53.71px */
    --step-4: clamp(2.07rem, calc(1.63rem + 2.23vw), 3.36rem);

    /* Step 5: 39.81px → 67.14px */
    --step-5: clamp(2.49rem, calc(1.89rem + 2.97vw), 4.20rem);

    /* Step 6: 47.78px → 83.92px */
    --step-6: clamp(2.99rem, calc(2.20rem + 3.93vw), 5.25rem);

    /* Step 7: 57.33px → 104.90px */
    --step-7: clamp(3.58rem, calc(2.55rem + 5.17vw), 6.56rem);

    /* Step 8: 68.80px → 131.13px */
    --step-8: clamp(4.30rem, calc(2.95rem + 6.78vw), 8.20rem);

    /* Step 9: 82.56px → 163.91px */
    --step-9: clamp(5.16rem, calc(3.39rem + 8.84vw), 10.24rem);
}


* {
    padding: 0;
    margin: 0;

}

h2 {
    font-weight: 600;
    font-size: var(--step-3);
    color: white;
}

.pme {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    width: min(65ch, 90vw);
    padding: 0.5rem;
}

.pYou {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    text-align: justify;
    padding: 0.5rem 4vw 0.5rem 0.5rem;
}

.nav {
    color: white;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    background-color: #27282c;
    overflow-x: hidden;

}

.menu {
    width: min(470px, 90vw);
    overflow-x: hidden;


}

.logo {
    height: auto;
    width: auto;
    max-height: 48px;
    max-width: 48px;
}


.cipher-container {
    background-color: #19191C;
    overflow-x: hidden;


}

.small-container {
    width: min(90vw, 100rem);
    margin-inline: auto;
    padding: 5%;

}

.cipher-title-container {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: radial-gradient(42.43% 167.01% at 70.49% 50%, #F5B646 7.81%, #E1742B 25.52%, #AE3420 42.71%, #71234F 72.92%, #19191C 100%)

}


.g-vigenere {
    width: min(90vw, 100rem);
    margin: auto;
    overflow-x: hidden;
    color: #FFFFFF;
    padding: 6%;
    z-index: -1;
}


.vigenere-logo {
    width: var(--step-8);
    height: var(--step-8);
}


.cipher-title {
    font-style: normal;
    font-weight: 600;
    font-size: var(--step-5);
    padding-bottom: 2%;
    color: white;
}


.cipher-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: var(--step-2);
    width: min(25ch, 90vw);
}

.french {
    width: 557px;
    height: 1566px;
    position: absolute;
    z-index: 1;
    left: 70%;
    top: 14%;

}

.tableV {
    width: 545px;
    height: 545px;
    padding-top: 4rem;
}

.tableX {
    width: 600px;
    height: 400px;
    padding-top: 5rem;
}

.vigenereHimself {
    width: 400px;
    height: 540px;
    padding: 3rem;

}


.v-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.h-grid-i {
    width: 300px;
    font-size: var(--step--1);

}

.h-logo {
    width: var(--step-3);
    height: var(--step-3);
    padding-bottom: 5px;

}

.card-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: var(--step--1);

}

.card-sub {
    font-size: var(--step--2);
    text-align: justify;

}

@media (max-width: 1350px) {
    .v-grid {
        grid-template-columns: 1fr 1fr;

    }

    .h-grid {
        grid-template-columns: 1fr 1fr;

    }

}

@media (max-width: 900px) {
    .v-grid {
        grid-template-columns: 1fr;

    }

    .h-grid {
        grid-template-columns: 1fr;

    }

}

.grid-i {
    width: clamp(280px, 40vw, 400px);
    height: clamp(230px, 35vw, 300px);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #19191C;
    border-radius: 0.5rem;
    border: 2px solid #c5c5c5;

}


.footer {
    background: black;
}

.footer-container {
    padding: 5%;
    height: 62%;
    width: 90%;
    display: flex;


}

.footer-container2 {
    padding: 5%;
    height: 62%;
    display: flex;
    width: min(90vw, 100rem);
    margin-inline: auto;


}

.footer-input {
    padding: 1%;
    width: 100%;
}


.footer-v {
    width: 50%;
    padding: 0 0 3% 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;

}

.b-light {
    font-weight: 300;
    font-size: var(--step-2);
    color: #FFFFFF;

}

.b-light2 {
    font-weight: 600;
    font-size: var(--step-0);
    color: #FFFFFF;

}


.g {
    position: absolute;
    background: radial-gradient(
            42.43% 167.01% at 70.49% 50%,
            #3bda96 10.42%,
            #7866ff 42.32%,
            #19191c 100%
    );
    left: -10%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

}

.title-page {
    color: white;
    width: auto;
    height: 574px;
    position: relative;
    z-index: 1;
}

.title {
    padding-left: 150px;
    width: 643px;
    height: 84px;
    position: relative;
    z-index: 3;
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 72px;
}

.subtitle {
    padding-left: 150px;
    width: 643px;
    height: 84px;
    position: relative;
    z-index: 3;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 49px;
}


.olive {
    position: relative;
    z-index: 3;
    width: 217px;
    height: 129px;
    padding: 100px 100px 20px;
}

.caesarTool {
    position: relative;
    overflow: hidden;
    top: -900px;
    left: 900px;


}

.caesar {
    position: absolute;
    width: 1200px;
    left: 50%;
    top: 20%;
    z-index: 2;
    pointer-events: none;


}

.h1-dark {
    padding-left: 150px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 42px;
}

.p-dark {
    padding-left: 150px;
    padding-top: 15px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 785px;
    height: 84px;

}

.p-input {
    color: white;
    font-weight: 400;
    font-size: var(--step-0);
    align-self: flex-start;
    padding: 1rem;
}

.h-white {
    width: 768px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 48px;
    color: #27282C;
    padding-left: 150px;
    padding-top: 100px;
}

.h-dark {
    width: 768px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 48px;
    color: white;
    padding-left: 150px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.p2-white {
    width: 974px;
    height: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #27282C;
    padding-left: 150px;

}

.p2-dark {
    width: 768px;;
    margin: 0 50px 50px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
    padding-left: 150px;

}

.g-ball1 {
    position: relative;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(72.01% 72.01% at 27.68% 51.63%, #21D789 0%, #24D48B 17%, #2CC991 32%, #39B89B 46%, #4C9FAA 59%, #647FBC 72%, #8258D3 85%, #A52AED 97%, #AF1DF5 100%);
}

.g-ball2 {
    position: relative;
    bottom: 850px;
    left: 1200px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: radial-gradient(89.05% 89.05% at 25.29% 6.35%, #293896 0%, #293A96 38%, #294195 53%, #284D94 64%, #275E93 73%, #267591 81%, #25918F 88%, #23B18C 94%, #21D789 100%);
}

.g-ball3 {
    position: relative;
    bottom: 1350px;
    left: 1050px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 1;
    background: radial-gradient(100.78% 100.78% at 56.75% 0.34%, #AF1DF5 0%, #AD20F4 25%, #A728EF 40%, #9C36E6 53%, #8C4ADB 64%, #7865CB 74%, #6085B9 83%, #43AAA3 92%, #21D789 100%);
}

.g-ball4 {
    position: relative;
    bottom: 1750px;
    left: 1200px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(72.01% 72.01% at 27.68% 51.63%, #21D789 0%, #24D48B 17%, #2CC991 32%, #39B89B 46%, #4C9FAA 59%, #647FBC 72%, #8258D3 85%, #A52AED 97%, #AF1DF5 100%);
}


.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.key-grid {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem;
    width: min(80vw, 40rem);
}




.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10%
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: var(--step-0);
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: var(--step-0);
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-7btt {
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}


.card-item {
    padding-bottom: 10rem;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    padding-right: 1rem;
}

.card-container {
    scroll-snap-type: y mandatory;
}

.img-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.progress {
    position: sticky;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    bottom: 50px;
}

.card {
    width: max(50vw, 300px);
    font-size: var(--step--1);

}

.facts {
    background-color: black;
}


.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--step-3);
    color: white;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.parallax span {
    display: block;
    margin-right: 30px;
}

.canvas {
    height: 50vh;
    position: relative;;
}

.home-page {
    position: relative;
}

.home-title {
    font-size: var(--step-7);
    color: white;
    position: absolute;
    font-weight: bold;
    bottom: 50%;
    left: 5%;

}

.vigenere-logo {
    width: var(--step-6);
    height: var(--step-6);
    padding-bottom: 1rem;
}

.cipher-title-container-XOR {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: radial-gradient(42.43% 167.01% at 70.49% 50%, #FDF94B 8.85%, #E6F551 19.27%, #72E473 38.02%, #30DA85 44.79%, #19191C 100%)

}

.boole {
    width: 750px;
    height: 1700px;
    position: absolute;
    z-index: 1;
    left: 65%;
    top: 15%;
    pointer-events: none;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child {
    background-color: #dddddd;
}

.xorVis {
    width: max(70vw, 330px);
    height: auto;
    padding: 1rem 1rem 1rem 8%;
}

.cipher-title-container-bit {
    width: clamp(50rem, 90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
    background: linear-gradient(270.92deg, #83F2FA 8.26%, #7AB6F5 23.2%, #828CF5 33.3%, #9164F5 50.44%, #1A1A1D 84.26%);
}

.challenge-container {
    background-color: black;
    overflow-inline: hidden;
}

.tabs-container {
    padding-top: 3rem;
    width: min(85vw, 55.5rem)

}

.hints-container {
    width: min(100%, 50rem);
    padding: 2rem 0 2rem 0;

}

.paragraph-text {
    font-weight: 400;
    font-size: var(--step-0);
    color: white;
    width: min(54ch, 90%);
    padding: 0.5rem;
    text-align: justify;
}

.cube-canvas {
    height: 70rem;
    width: 60rem;
    left: 50%;
    position: absolute;
}

.char {
    font-weight: 600;
    font-size: var(--step-6);
    height: var(--step-7);
    color: white;


}

.animated-text-q {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quantum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.applications-container {

    background-color: black;
    color: white;
}

.applications-grid {

}

.app-grid-i {
    margin: 4% 4% 8%;
}

.app-img {
    width: 40%;
    height: 40%;
    padding-left: 4%;
}

.app-card-title {
    font-size: var(--step-2);
    font-weight: bold;
}

.app-card-sub {
    font-size: var(--step-0);
    padding-top: 0.7em;
}

.image-container {
    width: 40%;
    padding: 3%;
}

.encrypted-image {
    width: 100%;
}

.image-name {
    padding: 0.5em;
    font-size: var(--step-2);
}

.ch-logo {
    width: var(--step-5);
    height: var(--step-5);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-1 {
    width: var(--step-4);
    height: var(--step-4);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-2 {
    width: var(--step-5);
    height: var(--step-4);
    padding-bottom: 5px;
    object-fit: cover;
}
.ch-logo-3 {
    width: var(--step-5);
    height: var(--step-1);
    padding-top: 1.5em;
    padding-bottom: 1em;
    object-fit: cover;
}

.ch-title {
    font-size: var(--step-2);
    font-weight: bold;
}

.ch-sub {
    font-size: var(--step-0);

}

.ch-i {
    width: 500px;
    height: 240px;
}

.ch-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    justify-items: center;
}
















/*hello media down there*/




@media (max-width: 1500px) {
    .french {
        display: none;


    }
    .ch-i {
        width: 400px;
        height: 250px;
    }
    .ch-grid {
        grid-template-columns: 1fr;

    }

    .boole {
        display: none;

    }

    .tableV {
        width: 70vw;
        height: auto;
        padding: 3rem;
    }

    .tableX {
        width: 70vw;
        height: auto;
        padding: 3rem;
    }

    .app-img {
        display: none;
    }


    .vigenereHimself {
        width: 50vw;
        height: auto;

    }

    .small-container {
        flex-direction: column;
        align-items: center;
    }

    .cube-canvas {
        display: none;
    }
    .ch-logo-3 {
        width: var(--step-5);
        height: var(--step-1);
        padding-top: 0.5em;
        padding-bottom: 1em;
        object-fit: cover;
    }

}
@media (max-width: 700px) {
    .footer-container2 {
        flex-direction: column;
    }

    .footer-v {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;;

    }
    .ch-i {
        width: 300px;
        height: 200px;
    }
    .small-container{
        padding-top: 3em;
        padding-bottom: 3em;

    }



}









