* {
    padding: 0;
    margin: 0;

}

.nav {
    color: white;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    background-color: #27282c;

}
.menu{
    width: min(470px, 90vw);

}
.logo {
    height: auto;
    width: auto;
    max-height: 48px;
    max-width: 48px;
}

.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cipher-container{
    background-color: #19191C;

}
.cipher-title-container {
    overflow: hidden;
    width: min(90vw, 100rem);
    margin: auto;
    color: #FFFFFF;
    padding: 6%;
}


.g-vigenere{
    position: relative;
    z-index: 1;
    width: max(2000px,100%);
    height: 100%;
    right: 5vw;
    background: rgb(255,84,71);
    background: radial-gradient(circle, rgba(255,84,71,1) 5%, rgba(132,28,164,1) 33%, rgba(25,25,28,1) 66%);

}

.vigenere-logo{
    width: 125px;
    height: 129px;
}


.cipher-title{
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem;
    padding-bottom: 2%;
}


.cipher-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    width: 25ch;
}





















.footer{
    background-color: #9C3CF7;


}
.footer-container {
    padding: 5%;
    height: 62%;
    width: 90%;
    display: flex;



}
.footer-container2 {
    padding: 5%;
    height: 62%;
    display: flex;
    width: min(90vw, 100rem);
    margin-inline: auto;


}

.footer-input{
    padding: 1%;
    width: 100%;
}


.footer-v{
    width: 50%;
    padding: 0 0 3% 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;

}

.b-light{
    font-weight: 300;
    font-size: 29px;
    color: #FFFFFF;

}
.b-light2{
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;

}








.g {
    position: absolute;
    background: radial-gradient(
            42.43% 167.01% at 70.49% 50%,
            #3bda96 10.42%,
            #7866ff 42.32%,
            #19191c 100%
    );
    left: -10%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

}

.title-page {
    color: white;
    width: auto;
    height: 574px;
    position: relative;
    z-index: 1;
}

.title {
    padding-left: 150px;
    width: 643px;
    height: 84px;
    position: relative;
    z-index: 3;
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 72px;
}

.subtitle {
    padding-left: 150px;
    width: 643px;
    height: 84px;
    position: relative;
    z-index: 3;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 49px;
}



.olive {
    position: relative;
    z-index: 3;
    width: 217px;
    height: 129px;
    padding: 100px 100px 20px;
}

.caesarTool {
    position: relative;
    overflow: hidden;
    top: -900px;
    left: 900px;


}

.caesar {
    position: relative;
    width: 1200px;
    left: 800px;
    top: -300px;
    z-index: 2;
    pointer-events: none
}

.h1-dark {
    padding-left: 150px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 42px;
}

.p-dark {
    padding-left: 150px;
    padding-top: 15px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 785px;
    height: 84px;

}

.p-input {
    color: white;
    font-weight: 400;
    font-size: 19px;
    padding-right: 10px;
}

.h-white {
    width: 768px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 48px;
    color: #27282C;
    padding-left: 150px;
    padding-top: 100px;
}

.h-dark {
    width: 768px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 48px;
    color: white;
    padding-left: 150px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.p2-white {
    width: 974px;
    height: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #27282C;
    padding-left: 150px;

}

.p2-dark {
    width: 768px;;
    margin: 0 50px 50px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
    padding-left: 150px;

}

.g-ball1 {
    position: relative;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(72.01% 72.01% at 27.68% 51.63%, #21D789 0%, #24D48B 17%, #2CC991 32%, #39B89B 46%, #4C9FAA 59%, #647FBC 72%, #8258D3 85%, #A52AED 97%, #AF1DF5 100%);
}

.g-ball2 {
    position: relative;
    bottom: 850px;
    left: 1200px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: radial-gradient(89.05% 89.05% at 25.29% 6.35%, #293896 0%, #293A96 38%, #294195 53%, #284D94 64%, #275E93 73%, #267591 81%, #25918F 88%, #23B18C 94%, #21D789 100%);
}

.g-ball3 {
    position: relative;
    bottom: 1350px;
    left: 1050px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 1;
    background: radial-gradient(100.78% 100.78% at 56.75% 0.34%, #AF1DF5 0%, #AD20F4 25%, #A728EF 40%, #9C36E6 53%, #8C4ADB 64%, #7865CB 74%, #6085B9 83%, #43AAA3 92%, #21D789 100%);
}

.g-ball4 {
    position: relative;
    bottom: 1750px;
    left: 1200px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(72.01% 72.01% at 27.68% 51.63%, #21D789 0%, #24D48B 17%, #2CC991 32%, #39B89B 46%, #4C9FAA 59%, #647FBC 72%, #8258D3 85%, #A52AED 97%, #AF1DF5 100%);
}













@media all and (max-width:550px) {
    .footer-container2{
        flex-direction: column;
    }
    .footer-v{
        width: 100%;
        ;

    }
    .g-vigenere{
        right: 100%;
    }
}

